OPENAI_API_KEY=sk-123456789

<Required: If you want a non-docker setup>
QDRANT_MODE=local
QDRANT_PATH=./qdrant_data

<Required: If you want a docker setup>
QDRANT_HOST=localhost
QDRANT_PORT=6333

QDRANT_URL=<Optional: Only for cloud-hosted QDrant DB>
QDRANT_API_KEY=<Optional: Only for cloud-hosted QDrant DB>
